body {
    background-color: lightblue;
    font-family: monospace;
    margin: auto;
}

/* .svg{
    display: grid;
    justify-self: center;
} */

#heading{
    font-size: 30px;
}

.container {
    margin-top: 0px; 
    display: grid;
    place-items: center;
    padding: 10px;
    background-color: #489c5e;
}

#canvas{
    margin:auto;
    display:grid;
    justify-self: center;
}

#insertInput,
#deleteInput {
    width: 150px;
    border: 2px solid rgb(13, 98, 53);
    padding: 5px 5px;
    border-radius: 5px;
}

#buttonClick {
    border-radius: 10px;
    border: 2px solid rgb(13, 98, 53);
    padding: 5px 20px;
    background-color: rgb(158, 227, 174);
    margin-right: 50px;
}

#buttonClick:hover {
    background-color: rgb(129, 177, 220);
}


.node circle {
    fill: #ecf0f1;
    stroke: rgb(13, 98, 53);
    stroke-opacity: 0.8;
    stroke-width: 2.5px;
}

.text {
    font-family: 'Open Sans', sans-serif;
    fill: #308dcb;
    font-size: 16px;
}

.link {
    fill: none;
    stroke: rgb(13, 98, 53);
    stroke-opacity: 0.8;
    stroke-width: 2px;
}

form {
    display: inline;
}


/* CSS FOR INPUT SLIDER  */

pre {
    padding: 20px 20px 0 0;
    background: #f9f9f9;
    border: 1px solid #f2f2f2;
    margin-bottom: 30px;
    line-height: 2em;
}
.top {
    background-color: #333;
    border-bottom: 3px solid #00b3bc;
    color: #fff;
    padding: 20px;
}
.top h1 {
    font-size: 20px;
    text-align: center;
}
.slider-container {
    width: 90%;
    max-width: 500px;
    margin: 0 auto 50px;
}
.config {
    border: 1px solid #f2f2f2;
    margin-bottom: 30px;
    line-height: 1.7em;
}
.config table {
    border-collapse: collapse;
    width: 100%;
}
.config table td {
    padding: 10px;
    border-bottom: 1px solid #f2f2f2;
}
.config table tr:nth-child(even) td {
    background-color: #f9f9f9;
}
.mb {
    margin-bottom: 15px;
}
.label {
    font-weight: bold;
    white-space: nowrap;
}
.download {
    margin-bottom: 20px;
}
.download a {
    text-decoration: none;
    color: #00969b;
    font-size: 16px;
}